* {
    box-sizing: border-box;   
}

body {
    font-family: Verdana,Geneva,sans-serif; 
    color: #2a2952;  
    margin: 1rem;
    display: flex;
    flex-flow: column;
    min-height: calc(100vh - 2rem);
}

.main {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-flow: row;
    flex-wrap: wrap;
    flex-grow: 1;
}

.main .panel {
    flex: 1;
    min-width: 0;
    border: 1px solid #d9dee1;
    border-radius: 8px;
    padding: 0 1rem 1rem 1rem;
    min-width: 18rem;
}

.main .panel .variables {
    display: grid;
    grid-template-columns: minmax(10rem, 0.5fr) auto;
}

.main .panel label {
    display: block;
}

.main .panel div {
    margin-top: 1rem;
}

footer {
    margin-top: 5rem;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    border-top: 1px solid #2a2952;
    height: 5rem;
}

textarea {
    width: 100%;
}

input {
    width: 100%;
    font-size: 1em;
}
